
<body>
{% extends 'base.html'%}

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> News Highlights </title>
    {% endif %}
</head>
    {% block content %}
          <link rel="stylesheet" href="{{url_for('static',filename='css/index.css') }}" type='text/css'>
<br>
<div class="container">
    <form>
        <input type="text" name="article_query" placeholder="Search for Articles" class="form-control">
        <br>
        <input type="submit"  value="Submit" class="btn btn-primary">
    </form>

</div>
<br>
                            <h3 class="News"> News Sources</h3>
                            <br>
                        <div class="grid-container" style="display: grid;">

                        {% for general_category in general %}
            
                        <a  href="/newsarticle/{{general_category.id}}"
                            class="list-group-item list-group-item " style="width: 40rem;">{{general_category.name}}</a>
                        {% endfor %}
            
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <ul>
    </ul>
    <br><br>
    <footer style="color:blue; font-weight: bold;">
                <p style="text-align: center;"> &copy; 2020 || Frankline Kiplangat </p>
    </footer>
    {% endblock%}
</body>
