{% extends 'base.html'%}
{%import 'macros.html' as macro%}
<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}
<div class="container">
    <form>
        <input type ="text" name= "article_query" placeholder="Search for an article" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>
</div>
<!-- Popular Sources -->
<h3> News Sources</h3>
<ul>
    {{ macro.displayArticlesList(popular)}}
</ul>
<!-- Upcoming Sources  -->
<h3> Popular Sources </h3>
<ul>
    {{ macro.displayArticlesList(upcoming)}}
</ul>
<!-- Now showing articles -->
<h3>Now Showing</h3>
<ul>
    {{ macro.displayArticlesList(now_showing)}}
</ul>
{% endblock%}

    <div class="container-fluid footer">
        <footer id="sticky-footer">
            <div class="container text-center">
                <p>Copyright &copy; Frankline Kiplangat</p>
            </div>

        </footer>
    </div>